@page "/admin/system-settings"
@attribute [Authorize(Policy = "RequireAdmin")]
@inject IStringLocalizer<SharedResources> L

<PageTitle>@L["AdminSystemSettingsTitle"] - Feirb</PageTitle>

<h1 class="mb-4">@L["AdminSystemSettingsTitle"]</h1>

<div class="d-flex flex-column gap-3">
    <NavigationItem
        Icon="envelope-arrow-up"
        Title="@L["AdminOutgoingSmtpTitle"]"
        Subtitle="@L["AdminOutgoingSmtpSubtitle"]"
        Href="/admin/system-settings/outgoing-smtp" />

    <NavigationItem
        Icon="clock"
        Title="@L["AdminJobsTitle"]"
        Subtitle="@L["AdminJobsSubtitle"]"
        Href="/admin/system-settings/jobs" />
</div>
