@page "/admin"
@attribute [Authorize(Policy = "RequireAdmin")]
@inject IStringLocalizer<SharedResources> L

<PageTitle>@L["PageTitleAdmin"]</PageTitle>

<InfoHeader Title="@L["NavAdmin"]" Icon="shield-lock" Subtitle="@L["PageSubtitleAdmin"]">
    <HelpContent>@L["PageHelpAdmin"]</HelpContent>
</InfoHeader>

<div class="d-flex flex-column gap-3">
    <NavigationItem
        Icon="people"
        Title="@L["AdminUserMgmtTitle"]"
        Subtitle="@L["AdminUserMgmtSubtitle"]"
        Href="/admin/user-management" />

    <NavigationItem
        Icon="envelope-arrow-up"
        Title="@L["AdminOutgoingSmtpTitle"]"
        Subtitle="@L["AdminOutgoingSmtpSubtitle"]"
        Href="/admin/outgoing-smtp" />

    <NavigationItem
        Icon="clock"
        Title="@L["AdminJobsTitle"]"
        Subtitle="@L["AdminJobsSubtitle"]"
        Href="/admin/jobs" />

    <NavigationItem
        Icon="robot"
        Title="@L["AdminLlmSettingsTitle"]"
        Subtitle="@L["AdminLlmSettingsSubtitle"]"
        Href="/admin/llm-settings" />
</div>
